#Don't track folders
cache/
saves/

#Don't track compiled source
*.com 
*.class 
*.dll
*.exe
*.o
*.so 

*.rpyc
*.rpymc

#The log file and other misc things
log.txt
errors.txt 
traceback.txt 
files.txt 
#comment